@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

#canvas {

  border:1px solid #d3d3d3;
  background-color: white;

}

.modal-body{
  background-color:#ededed!important;
  font-size: 1.2em;
}
.modal-content{
  background-color:#ededed!important;
  color: #5bc0de !important;
}
#canvas{
  width: 70%;
}
.espaciadoTitulo{
  margin-top: 7%;
  margin-bottom: 7%;
}
.espaciado{


  margin-bottom: 2%;
}
.espacioArribaBoton{
  margin-top: 5%;
}
.espacioArriba{
  margin-top: 2%;
}
h1{
  color:#5bc0de !important;
}
h2{
  color:#5bc0de !important;
}
hr{
  border-top: 1px solid #5bc0de !important;
}

#drag-and-drop {
  margin: auto;
  margin-left: 33%;
  margin-right: 33%;
}
html{
  background-color:#ededed;

}
nav{
  background-color:#ededed;
}
