@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

#canvas {
  width: 100%;
  border:1px solid #d3d3d3;
  height: auto;
}

.btn {
  margin-left: 45%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#title {
  margin-left: 40%;
  margin-bottom: 20px;
}

#drag-and-drop {
  margin: auto;
  margin-left: 200px;
  margin-right: 200px
}
