@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

#canvas {

  border:1px solid #d3d3d3;
  background-color: white;

}

.modal-body{
  font-size: 1.2em;
}
.espaciado{

  margin-bottom: 2%;
}
.espacioArriba{
  margin-top: 2%;
}

#drag-and-drop {
  margin: auto;
  margin-left: 33%;
  margin-right: 33%;
}
.panel{
    background-color:#5bc0de !important;
}
