{{yield}}
<div class="text-center">
<canvas id="canvas" class="espaciado">
    Sorry, your browser doesn't support the &lt;canvas&gt; element.
</canvas>
<div class="espaciado">
  <div class="col-lg-6">
    <button type="button" class="btn btn-info btn-lg" {{action "cambiarSinColor"}}>Blanco y negro</button>
  </div>
<div class="col-lg-6">
  <button type="button" class="btn btn-info btn-lg"  {{action "cambiarAColor"}}>Color</button>
</div>
</div>

</div>
