{{yield}}
<div>
<canvas id="canvas" width="300" height="300">
    Sorry, your browser doesn't support the &lt;canvas&gt; element.
</canvas>
<button type="button" class="btn btn-info btn-lg" {{action "cambiarColor()"}}>Blanco y negro</button>
</div>
