{{yield}}
<div class="text-center">
<canvas id="canvas" class="espaciado">
    Sorry, your browser doesn't support the &lt;canvas&gt; element.
</canvas>
<div class="espaciado">
<button type="button" class="btn btn-default btn-lg" {{action "cambiarSinColor"}}>Blanco y negro</button>
<button type="button" class="btn btn-default btn-lg"  {{action "cambiarAColor"}}>Color</button>
</div>
</div>
